{% extends 'base.html' %}

{% block title %}
Contact US
{% endblock %}

{% block content %}
<!-- contact section -->
<section id = "contact" class = "py-7">
    <div class = "container">
        <div class = "contact-content flex">
            <div class = "contact-left">
                <div class="title">
                    <h2>contact us</h2>
                </div>
                <p class = "lead" style="font-size: 1.25rem;"><i class = "fas fa-phone-alt"></i> +91-9643257889</p>
                <p class = "lead" style="font-size: 1.25rem;"><i class = "fas fa-envelope"></i> akanksharajput.photography@gmail.com</p>
                
                <form action="">
                    <input type = "text" class = "form-control" placeholder="Your name here ...">
                    <input type = "email" class = "form-control" placeholder="Your email here">
                    <input type = "phone" class = "form-control" placeholder="Your phone number here">
                    <input type = "submit" class = "btn-submit btn" value = "Submit">
                </form>
            </div>

            <div class = "contact-right">
                <img src = "{{ url_for('static', filename='img/contact-pic.jpg') }}" alt = "contact image">
                <p class="lead"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3885.6264465012473!2d77.61826627600388!3d13.122834911542704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae19b8c63cd211%3A0xe66e379bf30c97f7!2sAlluring%20Lens%20By%20AR!5e0!3m2!1sen!2sin!4v1678959546615!5m2!1sen!2sin" width="450" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">Allluring Lens by AR</iframe></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}