<header id="nav-header" class="">
    <div class="container">
        <input type="checkbox" name="" id="check">
        
        <div class="logo-container">
            <a href="#"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Alluring Lens by AR" height="20px" width="20px"></a> 
        </div>
        <div class="nav-btn">
            <div class="nav-links">
                <ul>
                    <li class="nav-link" style="--i: .6s"><a href="#">Home</a></li>
                    <li class="nav-link" style="--i: .85s"><a href="#">Services <i class="fas fa-caret-down"></i></a>
                        <div class="dropdown">
                            <ul>
                                <li class="dropdown-link">
                                    <a href="#">Maternity</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">NewBorn</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">Sitter</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">More <i class="fas fa-caret-down"></i></a>
                                    <div class="dropdown second">
                                        <ul>
                                            <li class="dropdown-link">
                                                <a href="#">Cake Smash</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Toddler</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Fine Art Portraits</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Family</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Fashion</a>
                                            </li>
                                            <div class="arrow"></div>
                                        </ul>
                                    </div>
                                </li>
                                <div class="arrow"></div>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-link" style="--i: 1.1s">
                        <a href="">Portfolio <i class="fas fa-caret-down"></i></a>
                        <div class="dropdown">
                            <ul>
                                <li class="dropdown-link">
                                    <a href="#">Maternity<i class="fas fa-caret-down"></i></a>
                                    <div class="dropdown second">
                                        <ul>
                                            <li class="dropdown-link">
                                                <a href="classic_maternity_gallery.html">Classic Maternity</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Glamor Maternity</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Traditional Maternity</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Outdoor Maternity</a>
                                            </li>
                                            <div class="arrow"></div>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">Baby<i class="fas fa-caret-down"></i></a>
                                    <div class="dropdown second">
                                        <ul>
                                            <li class="dropdown-link">
                                                <a href="#">New Born</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Sitter</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Toddler</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Family</a>
                                            </li>
                                            <li class="dropdown-link">
                                                <a href="#">Mommy and Me</a>
                                            </li>
                                            <div class="arrow"></div>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">Travel</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">Fashion</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">Product</a>
                                </li>
                                <li class="dropdown-link">
                                    <a href="#">Fine Art</a>
                                </li>
                                
                                <div class="arrow"></div>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-link" style="--i: 1.35s">
                        <a href="/about">About</a>
                    </li>
                    <li class="nav-link" style="--i: 1.35s">
                        <a href="/blog">Blog</a>
                    </li>
                    <li class="nav-link" style="--i: 1.35s">
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="log-sign" style="--i: 1.8s">
                <a href="https://facebook.com/AlluringLensbyAR" target="_blank" class="btn solid"><i class="fab fa-facebook-f"></i></a>
                <a href="https://instagram.com/alluringlensbyar" target="_blank" class="btn solid"><i class="fab fa-instagram"></i></a>
                <a href="https://api.whatsapp.com/send?phone=919643257889&text=Hello, More Information!" target="_blank" class="btn transparent"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>

        <div class="hamburger-menu-container">
            <div class="hamburger-menu">
                <div></div>
            </div>
        </div>
    </div>
</header>
<div id = "header" class = "vh-100 flex">
    <div class = "container">
        <div class = "header-content">
            <h2>We are one of the best <br></h2><h1><span class = "typewrite" data-loop = "yes" data-speed = "100" data-delay = "1000" data-words = '["Maternity", "New Born", "Toddler", "Family", "Fashion"]'></span></h1>
            <h2><br>Photographer in Banglore</h2>
            <h3>Alluring Lens by AR</h3>

            <ul class = "social-links">
                <li>
                    <a href = "https://facebook.com/AlluringLensbyAR" target="_blank" class = "flex">
                        <i class = "fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href = "https://api.whatsapp.com/send?phone=919643257889&text=Hello, More Information!" target="_blank" class = "flex">
                        <i class = "fab fa-whatsapp"></i>
                    </a>
                </li>
                <li>
                    <a href = "https://instagram.com/alluringlensbyar" target="_blank" class = "flex">
                        <i class = "fab fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href = "https://in.pinterest.com/akanksharajput1" target="_blank" class = "flex">
                        <i class = "fab fa-pinterest"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- end of header -->
