<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="assests/css/style.css">
    <link rel="stylesheet" href="assests/css/main.css">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://kit.fontawesome.com/879bbce672.css" crossorigin="anonymous">
</head>
<body>
    <!-- header -->
    <header>
        <div class="container">
            <input type="checkbox" name="" id="check">
            <div class="logo-container">
                <h3 class="logo">Alluring Lens<span> By AR</span></h3>
            </div>
            <div class="nav-btn">
                <div class="nav-links">
                    <ul>
                        <li class="nav-link" style="--i: .6s"><a href="#">Home</a></li>
                        <li class="nav-link" style="--i: .85s"><a href="#">Services <i class="fas fa-caret-down"></i></a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <a href="#">Maternity</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">NewBorn</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Sitter</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">More <i class="fas fa-caret-down"></i></a>
                                        <div class="dropdown second">
                                            <ul>
                                                <li class="dropdown-link">
                                                    <a href="#">Cake Smash</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">Toddler</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">Fine Art Portraits</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">Family</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">Fashion</a>
                                                </li>
                                                <div class="arrow"></div>
                                            </ul>
                                        </div>
                                    </li>
                                    <div class="arrow"></div>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-link" style="--i: 1.1s">
                            <a href="">Portfolio <i class="fas fa-caret-down"></i></a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <a href="#">Maternity<i class="fas fa-caret-down"></i></a>
                                        <div class="dropdown second">
                                            <ul>
                                                <li class="dropdown-link">
                                                    <a href="#">Classic Maternity</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">Glamor Maternity</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">Traditional Maternity</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">Outdoor Maternity</a>
                                                </li>
                                                <div class="arrow"></div>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Baby<i class="fas fa-caret-down"></i></a>
                                        <div class="dropdown second">
                                            <ul>
                                                <li class="dropdown-link">
                                                    <a href="#">New Born</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">Sitter</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">Toddler</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">Family</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="#">Mommy and Me</a>
                                                </li>
                                                <div class="arrow"></div>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Travel</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Fashion</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Product</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="#">Fine Art</a>
                                    </li>
                                    
                                    <div class="arrow"></div>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-link" style="--i: 1.35s">
                            <a href="#">About</a>
                        </li>
                        <li class="nav-link" style="--i: 1.35s">
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="log-sign" style="--i: 1.8s">
                    <a href="https://facebook.com/AlluringLensbyAR" target="_blank" class="btn solid"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://instagram.com/alluringlensbyar" target="_blank" class="btn solid"><i class="fab fa-instagram"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=919643257889&text=Hello, More Information!" target="_blank" class="btn transparent"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>

            <div class="hamburger-menu-container">
                <div class="hamburger-menu">
                    <div></div>
                </div>
            </div>
        </div>
    </header>
    

    
</body>
</html>